.header{
	width: 850px;
	height: 1700px;
	/*background: blue;*/
	margin-left: 140px;
	padding: 0px;	
}
.header .box2{
	width: 100%;
	height: 50px;
	/*background: green;*/
	float: left;
	padding-top: 1px;	
}
.box2-1 span {
    font-size: 16px;
    margin-right: 15px;
    padding-bottom: 7.5px;
    border-bottom: 0;
    margin-bottom: 0;
    BACKGROUND: #0059ab;
    PADDING: 5px 10PX;
    BORDER-LEFT: 7px solid #80c82d;
    color: white;
    padding-right: 30px;
    border-bottom: 1px solid #0059ab;
    float: left;
}
.box2-1:after {
    content: "";
    display: table;
    clear: both;
    border: 15px solid #0059ab;
    margin-left: 100px;
    position: absolute;
    border-right-color: rgba(255,255,255,0.08);
    float: left;
}